*~
.classpath
.project
target
.settings
.DS_Store
.faces-config.xml.jsfdia
MANIFEST.MF
.idea
*.iml
bin
.openshift
*/.gitignore
.gitkeep
/helloworld-jsp

mgmt-create-ds/mgmt-server-create-ds.iws

mgmt-create-ds/mgmt-server-create-ds.ipr
